/* line 72, icons/*.png */
.icons-sprite, .icons-1, .icons-2, .icons-3, .icons-4 {
  background-image: url('../img/icons-s40b84af3de.png');
  background-repeat: no-repeat;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-1 {
  background-position: 0 0;
  height: 34px;
  width: 35px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-2 {
  background-position: -55px 0;
  height: 34px;
  width: 35px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-3 {
  background-position: -110px 0;
  height: 34px;
  width: 35px;
}

/* line 84, C:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-4 {
  background-position: -165px 0;
  height: 34px;
  width: 35px;
}
